.svg {
  background: white
}

.country {
  fill: #cccccc;
  stroke: #333333;
  stroke-width: 0.5;
}

.locationnames {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.selected {
  fill:green;
}